<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71969915205-l5rm25cefh5pokdd34kiib1tjb264g7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71969915205-l5rm25cefh5pokdd34kiib1tjb264g7l</string>
	<key>GCM_SENDER_ID</key>
	<string>71969915205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamgoth.camp-colorado</string>
	<key>PROJECT_ID</key>
	<string>ios-camp-colorado</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-camp-colorado.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71969915205:ios:6258fc39cd9a92ca</string>
	<key>DATABASE_URL</key>
	<string>https://ios-camp-colorado.firebaseio.com</string>
</dict>
</plist>